body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8e8e8;
}
nav {
  background-color: #006767;
}
main {
  width: 50rem;
  margin: 0 auto;
}

section {
  padding-top: 5rem; /* for navbar */
  box-sizing: border-box;
  min-height: 100vh;
}
section#contact-us {
  min-height: 94vh; /* allow 10vh for footer */
}

.list-group-item {
  background-color: #e8e8e8;
}

form {
  margin: 1rem;
}

footer {
  min-height: 6vh;
  box-sizing: border-box;
  background-color: #006767;
  color: white;

  display: flex;
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
}
